node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase
supabase/.branches
supabase/.temp
supabase/.env

# Logs
*.log
npm-debug.log*
